﻿<div class="jumbotron">
    <div style="text-align:center">
        <h2>About the Bible Verse</h2>
        <p class="lead">A Benchmark Project for the Grand Canyon University.</p>
        Student: Kelly E. Lamb <br />
        Date: November 16, 2020 <br />
        Class: CST-247 Enterprise Computer Programming III <br />
        Professor: Dinesh Staphit <br />
        Assignment: Benchmark - Final <br />
        <p><img src="~/Images/kl.jpg" alt="Developer Kelly Lamb Portrait" /></p>
    </div>
</div>
