﻿@model BibleVerse.Models.Verse

@{
    ViewBag.Title = "Create";
}

<h2>Bible Verse Entry / Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.TestamentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TestamentID, new SelectList(
               new List<Object>{
                    new { value = "0" , text = "-- Select a Testament --"  },
                    new { value = "1" , text = "Old Testament"  },
                    new { value = "2" , text = "New Testament"  }
               },
               "value",
               "text",
                0), new { @id = "testList", @class = "col-md-10", @style = "color: #000; height: 34px; border-radius: 4px;" })
            @Html.ValidationMessageFor(model => model.TestamentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookID, new SelectList(Enumerable.Empty<SelectListItem>(), "Value", "Text"), new { @id = "bookList", @class = "col-md-10", @style = "color: #000; height: 34px; border-radius: 4px;" })
            @Html.ValidationMessageFor(model => model.BookID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ChapterNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ChapterNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ChapterNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#testList").change(function () {
            var tID = $(this).val();
            console.log("Here I am");
            $.ajax({
                type: "GET",
                url: "/Home/LoadBookList",
                data: { testID: tID },
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data) {
                var select = $("#bookList");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "-- Select a Book --"
                }));
                $.each(data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            }

            function errorFunc() {
                alert('error');
            }
        });
    });
</script>