﻿@{
    ViewBag.Title = "Bible Verse";
}

<div class="jumbotron">
    <div style="text-align:center">
    <h1>Welcome to the Bible Verse</h1>
    <p class="lead">Please choose a menu option to create or search for Bible Verses.</p>
    <p><img src="~/Images/BibleVerseLogo.png" alt="Bible Verse Logo Image" /></p>
    </div>
</div>
