﻿
<div class="jumbotron">
    <div style="text-align:center">
        <h2>Bible Verse Search Results</h2>
        <p class="lead">Your Query Returned these results:</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <h3>Results:</h3>
    </div>
    <div class="col-md-10">
        <h3>@ViewBag.Message</h3>
    </div>
</div>
