﻿.GamePanel {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: center;
    border-style: outset;
    border-width: 10px;
    border-color: lightgray;
    border-spacing: 0px;
    display: inline-block;
}

.ButtonGrid {
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: center;
    border-style: inset;
    border-width: 10px;
}

    .ButtonGrid > button {
        margin: 0px;
        padding: 0px;
        width: 31px;
        height: 31px;
        border: none;
    }

.StatusPanel {
    border-style: inset;
    border-width: 10px;
    border-spacing: 0px;
    border-color: lightgray;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
}

.row {
    height: 70px;
    width: 100%;
    position: relative;
    background-color: silver;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.FlagPanel {
    margin: 0px;
    padding: 2px;
    font-size: 0px;
    border-style: inset;
    border-width: 2px;
    width: 76px;
    position: absolute;
    top: 4px;
    left: 10px;
}

    .FlagPanel > img {
        height: 34px;
        width: 22px;
    }

.TimePanel {
    margin: 0px;
    padding: 2px;
    font-size: 0px;
    border-style: inset;
    border-width: 2px;
    width: 76px;
    position: absolute;
    top: 4px;
    right: 10px;
}

    .TimePanel > img {
        height: 34px;
        width: 22px;
    }

.SmileyFace {
    margin: 0px;
    padding: 2px;
    font-size: 0px;
    display: inline-block;
    border-style: outset;
    border-width: 4px;
    position: absolute;
    top: 2px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

    .SmileyFace > button {
        margin: 0px;
        padding: 0px;
        width: 34px;
        height: 34px;
        border: none;
    }

    .SmileyFace > img {
        width: 34px;
        height: 34px;
    }
