﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body style=" min-height: 400px; margin-bottom: 100px; clear: both; background: #000;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Minesweeper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("Register", "Register", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <div class="container body-content">
        @RenderBody()
        <div></div>
        <footer style="position: fixed; bottom: 0; left: 0; right: 0; height: 80px; color: white; background: #000000; ">
            <p style="text-align:center; padding-top:5px;">&copy; @DateTime.Now.Year - Minesweeper</p>
            <p style="text-align:center;">Created by Branden M, Kelly L, and Matthew B. </p>
        </footer>
    </div>
    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
