﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Minesweeper</title>
    <!-- TODO: AJAX -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

    @RenderSection("scripts", required: false)
    <style type="text/css">
        .centerblock {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        .loginBtn {
            text-align: center;
            margin-left: auto;
            margin-right: 55px;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-image: none !important;
        }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            background-color: #522398;
        }
    </style>
</head>
<body style=" min-height: 400px; margin-bottom: 100px; clear: both; background: #000;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #522398; border-bottom: none;">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" title="Header" class="links" style="margin-top: 8px;">
                    <img alt="Header" style="margin-top: 8px;" src="@Url.Content("~/Images/header.png")">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:white;">
                    <!-- USER NOT AUTHENTICATED -->
                    @if (Request.IsAuthenticated == false)
                    {
                        <li>@Html.ActionLink("Developers", "About", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                        <li>@Html.ActionLink("Register", "Register", "User", new { area = "" }, new { @style = "color:#FFF;" })</li>
                        <li>@Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @style = "color:#FFF;" })</li>
                    }
                    <!-- USER AUTHENTICATED -->
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fff;">File <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background: #000; border-color: #181818; border-width: 2px; border-style: solid;scrollbar-highlight-color: #f44; ">
                                <li>@Html.ActionLink("New Game", "NewGame", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <!-- NEW-->
                                <li>@Html.ActionLink("Save Game", "OnSave", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li>@Html.ActionLink("Restore Game ...", "OnLoad", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li role="separator" class="divider" style="background: #181818"></li>
                                <li>@Html.ActionLink("High Scores ...", "HighScores", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li role="separator" class="divider" style="background: #181818"></li>

                                <li style="padding:8px;">
                                    @if (Request.IsAuthenticated)
                                    {

                                        using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logout" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <input type="submit" value="Logout" class="btn btn-danger" style="background: #000000; border-color: #000000" />
                                        }
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fff;">Difficulty <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background: #000; border-color: #181818; border-width: 2px; border-style: solid;scrollbar-highlight-color: #f44; ">
                                <li>@Html.ActionLink("Easy", "SelectEasyDifficulty", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li>@Html.ActionLink("Moderate", "SelectModerateDifficulty", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li>@Html.ActionLink("Hard", "SelectHardDifficulty", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li role="separator" class="divider" style="background: #181818"></li>
                                <li>@Html.ActionLink("Hint", "Hint", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                            </ul>
                        </li>
                    }

                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white">Help <span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background: #000; border-color: #181818; border-width: 2px; border-style: solid;scrollbar-highlight-color: #f44; ">
                                <li>@Html.ActionLink("Help", "Help", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                                <li role="separator" class="divider" style="background: #181818"></li>
                                <li>@Html.ActionLink("Developers", "About", "Menu", new { area = "" }, new { @style = "color:#FFF;" })</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <div class="container body-content">
        @RenderBody()
        <div></div>
        <footer style="position: fixed; bottom: 0; left: 0; right: 0; height: 80px; color: white; background: #000000; ">

            <p style="text-align:center; padding-top:5px;">&copy; @DateTime.Now.Year - Minesweeper</p>
            <p style="text-align:center;">Created by Branden M, Kelly L, and Matthew B. </p>
        </footer>
    </div>
</body>
</html>
