﻿@model Minesweeper.Services.Interfaces.IGameService

@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Game Over - Win";
}
<link href="~/Content/gameboard.css" rel="stylesheet" />
<div class="jumbotron" style="margin-top: 10px; height: 525px; background: #000000; color: #fff;">

    <div style="text-align:center" oncontextmenu="return false;">
        <table class="GamePanel">
            <tr>
                <td>
                    <div class="StatusPanel row">
                        <div class="FlagPanel">
                            @{
                                int remain = @Model.getLevel().BombCount - @Model.getGameBoard().FlagCount;
                                int flagCount = remain / 100;
                                remain %= 100;
                                string f100 = "/Images/num/" + flagCount.ToString() + ".jpg";
                                flagCount = remain / 10;
                                remain %= 10;
                                string f010 = "/Images/num/" + flagCount.ToString() + ".jpg";
                                flagCount = remain;
                                string f001 = "/Images/num/" + flagCount.ToString() + ".jpg";
                            }
                            <img id="f100" src="@(f100)" />
                            <img id="f010" src="@(f010)" />
                            <img id="f001" src="@(f001)" />
                        </div>
                        @using (Html.BeginForm("NewGame", "Menu"))
                        {
                            <div class="SmileyFace">
                                <button type="submit"><img id="smiley" src="~/Images/face/smilewin.jpg" /></button>
                            </div>
                        }
                        <div class="TimePanel">
                            @{
                                int time = @Model.getSeconds();
                                int seconds = time / 100;
                                time %= 100;
                                string t100 = "/Images/num/" + seconds.ToString() + ".jpg";
                                seconds = time / 10;
                                time %= 10;
                                string t010 = "/Images/num/" + seconds.ToString() + ".jpg";
                                seconds = time;
                                string t001 = "/Images/num/" + seconds.ToString() + ".jpg";
                            }
                            <img id="t100" src="@(t100)" />
                            <img id="t010" src="@(t010)" />
                            <img id="t001" src="@(t001)" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ButtonGrid">
                        @for (int row = 0; row < Model.getLevel().BoardSize; row++)
                        {
                            for (int col = 0; col < Model.getLevel().BoardSize; col++)
                            {
                                if (Model.getGameBoard().GetGrid(row, col).Flagged)
                                {
                                    <img src="~/Images/btn/button_flag.jpg" />
                                }
                                else if (Model.getGameBoard().GetGrid(row, col).Visited)
                                {
                                    // Visited cells do not require button element
                                    if (Model.getGameBoard().GetGrid(row, col).Live)
                                    {
                                        <img src="~/Images/btn/mine_hit.jpg" />
                                    }
                                    else
                                    {
                                        int btn = Model.getGameBoard().GetGrid(row, col).Neighbors;
                                        string btn1 = "/Images/btn/" + btn.ToString() + ".jpg";
                                        <img src="@(btn1)" oncontextmenu="return false;" />
                                    }
                                }
                                else
                                {
                                    <img src="~/Images/btn/button.jpg" />
                                }
                            }
                            <br />
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align:center; margin-top: -20px; color: white">
        <br />
        <br />
        <h2>Congratulations! You Win!. Please Play Again.</h2>
        <br />
        <br />
    </div>
</div>
