﻿@model Minesweeper.Services.Interfaces.IGameService

@using (Html.BeginForm("OnLeftButtonClick", "Home"))
{
<div id="leftButtonClick" class="ButtonGrid">
    @for (int row = 0; row < Model.getLevel().BoardSize; row++)
    {
        for (int col = 0; col < Model.getLevel().BoardSize; col++)
        {
            string coordinates = row.ToString() + "|" + col.ToString();

            if (Model.getGameBoard().GetGrid(row, col).Flagged)
            {
                <button class="game-piece" type="submit" name="cell" value="@(coordinates)"><img src="~/Images/btn/button_flag.jpg" /></button>
            }
            else if (Model.getGameBoard().GetGrid(row, col).Visited)
            {
                // Visited cells do not require button element
                if (Model.getGameBoard().GetGrid(row, col).Live)
                {
                    <img src="~/Images/btn/mine_hit.jpg" />
                }
                else
                {
                    int btn = Model.getGameBoard().GetGrid(row, col).Neighbors;
                    string btn1 = "/Images/btn/" + btn.ToString() + ".jpg";
                    <img src="@(btn1)" />
                }
            }
            else
            {
                <!-- Cell Background -->
                <button class="game-piece" type="submit" name="cell" value="@(coordinates)"><img src="~/Images/btn/button.jpg" /></button>
            }
        }
        <br />
    }
</div>
}