﻿@model Minesweeper.Services.Interfaces.IGameService
<div id="StatusPanel" class="StatusPanel row">
    <div class="FlagPanel">
        @{
            int remain = @Model.getLevel().BombCount - @Model.getGameBoard().FlagCount;
            int flagCount = remain / 100;
            remain %= 100;
            string f100 = "/Images/num/" + flagCount.ToString() + ".jpg";
            flagCount = remain / 10;
            remain %= 10;
            string f010 = "/Images/num/" + flagCount.ToString() + ".jpg";
            flagCount = remain;
            string f001 = "/Images/num/" + flagCount.ToString() + ".jpg";
        }
        <img id="f100" src="@(f100)" />
        <img id="f010" src="@(f010)" />
        <img id="f001" src="@(f001)" />
    </div>
    @using (Html.BeginForm("NewGame", "Menu"))
    {
        <div class="SmileyFace">
            <button type="submit"><img id="smiley" src="~/Images/face/smilehappy.jpg" /></button>
        </div>
    }
    <div class="TimePanel">
        @{
            int time = @Model.getSeconds();
            int seconds = time / 100;
            time %= 100;
            string t100 = "/Images/num/" + seconds.ToString() + ".jpg";
            seconds = time / 10;
            time %= 10;
            string t010 = "/Images/num/" + seconds.ToString() + ".jpg";
            seconds = time;
            string t001 = "/Images/num/" + seconds.ToString() + ".jpg";
        }
        <img id="t100" src="@(t100)" />
        <img id="t010" src="@(t010)" />
        <img id="t001" src="@(t001)" />
    </div>
</div>