﻿@model List<Activity2Part1.Models.UserModel>

@{
    ViewBag.Title = "My App";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <style>
        .label1
        {
            font-size: 24pt;
            font-weight: bold;
            font-family: arial, sans-serif;
            display: block;
            color: chocolate;
        }
        #label2
        {
            font-size: 18pt;
            color:cornflowerblue;
        }
        table
        {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th
        {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even)
        {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <div style="text-align: center">
            @Html.Label("Welcome to Razor", new { @class="label1" })
        </div>
        <div style="text-align:left;">
            @Html.Label("My Customers are:", new { @classs="label1", @id="label2" })
        </div>
        <div>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => user.Name)</td>
                        <td>@Html.DisplayFor(modelItem => user.EmailAddress)</td>
                        <td>@Html.DisplayFor(modelItem => user.PhoneNumber)</td>
                    </tr>
                }
            </table>
        </div>
        <br />
        <div>
            @Html.ActionLink("Refresh Page", "Index", "Test")
        </div>
    </div>
</body>
</html>
