﻿@model Minesweeper.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Menu.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="        
        margin-top: 75px;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        padding: 45px;
        ">
        <div class="centerblock">
            <h2 style="padding-bottom: 20px; text-align: center; margin-right: 65px; color: white;">@ViewBag.Title</h2>

            <!-- USERNAME INPUT -->
            <div class="form-group">
                @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#FFF;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control", @style = "color:#000;" } })
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- PASSWORD INPUT -->
            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:#FFF;" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @style = "color:#000;" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                </div>
            </div>
            <!-- INCORRECT PASSWORD -->
            <div class="form-group" style="margin-top: 2px;">
                @Html.LabelFor(model => model.placeholder, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <label>@ViewBag.LoginErrorMessage</label>

                </div>
            </div>

            <div class="form-group">
                <div class="loginBtn">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
