﻿@model Minesweeper.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Menu.cshtml";

}

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal" style="margin-top: 60px; width: 450px; margin-left: auto; margin-right: auto;padding: 45px;">
    <div class="centerblock">
        <h2 style="padding-bottom: 20px; text-align: center; margin-right: 65px; color: white;">@ViewBag.Title</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sex, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sex, new { htmlAttributes = new { placeholder = "Optional", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sex, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.age, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.age, new { htmlAttributes = new { placeholder = "Optional", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.state, new SelectList(
                   new List<Object>{
                                   new { value = "AL" , text = "AL"  },
                                   new { value = "AK" , text = "AK" },
                                   new { value = "AZ" , text = "AZ"},
                                   new { value = "AR" , text = "AR"  },
                                   new { value = "CA" , text = "CA" },
                                   new { value = "CO" , text = "CO"},
                                   new { value = "CT" , text = "CT"  },
                                   new { value = "DC" , text = "DC" },
                                   new { value = "DE" , text = "DE"},
                                   new { value = "FL" , text = "FL"  },
                                   new { value = "GA" , text = "GA" },
                                   new { value = "HI" , text = "HI"},
                                   new { value = "ID" , text = "ID"  },
                                   new { value = "IL" , text = "IL" },
                                   new { value = "IN" , text = "IN"},
                                   new { value = "IA" , text = "IA"  },
                                   new { value = "KS" , text = "KS" },
                                   new { value = "KY" , text = "KY"},
                                   new { value = "LA" , text = "LA"  },
                                   new { value = "ME" , text = "ME" },
                                   new { value = "MD" , text = "MD"},
                                   new { value = "MA" , text = "MA"  },
                                   new { value = "MI" , text = "MI" },
                                   new { value = "MN" , text = "MN"},
                                   new { value = "MS" , text = "MS"  },
                                   new { value = "MO" , text = "MO" },
                                   new { value = "MT" , text = "MT"},
                                   new { value = "NE" , text = "NE" },
                                   new { value = "NV" , text = "NV"},
                                   new { value = "NH", text = "NH"  },
                                   new { value = "NJ" , text = "NJ" },
                                   new { value = "NM" , text = "NM"},
                                   new { value = "NY" , text = "NY"  },
                                   new { value = "NC" , text = "NC" },
                                   new { value = "ND" , text = "ND"},
                                   new { value = "OH" , text = "OH"  },
                                   new { value = "OK" , text = "OK" },
                                   new { value = "OR" , text = "OR"},
                                   new { value = "PA" , text = "PA"  },
                                   new { value = "RI" , text = "RI" },
                                   new { value = "SC" , text = "SC"},
                                   new { value = "SD" , text = "SD"  },
                                   new { value = "TN" , text = "TN" },
                                   new { value =  "TX" , text = "TX"},
                                   new { value = "UT" , text = "UT"  },
                                   new { value = "VT" , text = "VT" },
                                   new { value = "VA" , text = "VA"},
                                   new { value = "WA" , text = "WA"  },
                                   new { value = "WV" , text = "WV" },
                                   new { value = "WI" , text = "WI"},
                                   new { value = "WY" , text = "WY"  }
                     },
                   "value",
                   "text",
                    51), new { @class="col-md-10", @style = "color: #000; height: 34px; border-radius: 4px;"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger", @style = "color: #ef1;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label col-md-4", @style = "color:#FFF; text-algin: left; float:left; padding-bottom: 5px; margin-left: -85px;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger", @style = "color: #ef1;"})
            </div>
        </div>

        <!-- Message indicating successful registration -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-2" style="color: #f44;">
                <label>@ViewBag.LoginErrorMessage</label>
            </div>

        </div>
        <div class="form-group">
            <div class="loginBtn">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <!-- Username / Email already exist-->
        <div class="form-group" >
            <div class="col-md-12" style="color: #ef1; margin-top: 22px;">
                <label style="display: inline-block;">@ViewBag.SuccessMessage</label>
            </div>
        </div>
    </div>
    </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
