﻿@using Activity3.Models;

@model Tuple<List<CustomerModel>, CustomerModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Label("Please select a customer");
<br />

@using (Html.BeginForm("OnSelectCustomer1", "Customer", FormMethod.Post, new { @id = "myform", @name = "myform" }))
{
    @Html.AntiForgeryToken();

    var selected = false;

    foreach (var customer in Model.Item1)
    {
        if (Model.Item2 == customer)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }
        @Html.RadioButton("Customer", customer.ID, selected, new { onchange = "$('#myform').trigger('submit');" } );
        @Html.Label(customer.Name);
        <br />
    }
}

<div id="customerInfo">

    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2);
</div>
