﻿<style>
    .footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>

<div class="footer">
    <h5>Copyright &copy; KELSoft - Kelly Lamb Enterprises</h5>
</div>
