﻿@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Home Page";

}

@if (Request.IsAuthenticated)
{
    <link href="~/Content/gameboard.css" rel="stylesheet" />
    <div class="jumbotron" style="margin-top: 10px; height: 525px; background: #000000; color: #fff;">
        <div style="text-align:center" oncontextmenu="return false;">
            <table class="GamePanel">
                <tr>
                    <td>
                        <div id="StatusPanel">
                            @Html.Partial("~/Views/Shared/_PartialStatusPanel.cshtml")
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ButtonGrid">
                            @Html.Partial("~/Views/Shared/_PartialGameBoard.cshtml")

                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <script>
        $(document).ready(function ()
        {
            $('.game-piece').mousedown(function (event) {

                if (event.which == 1) // Left click - change smiley face / reveal neighbors
                {
                    $("#smiley").attr("src", "/Images/face/smilescared.jpg");

                    $.post("@Url.Action("OnLeftButtonClick", "Home")", { cell: this.getAttribute('value') }, function (data) {
                        event.preventDefault();
                        clearInterval(gameTimer);
                        document.write(data);
                        document.close();
                        return false;
                    });

                }

                else if (event.which == 3) // Right click - post to set flag
                {
                    $.post("@Url.Action("OnRightButtonClick", "Home")", { cell: this.getAttribute('value') }, function (data) {
                        event.preventDefault();
                        clearInterval(gameTimer);
                        document.write(data);
                        document.close();
                        return false;
                    });
                }

            });

            // Timer to animate elapsed time (seconds)
            var gameTimer = setInterval(myTimer, 1000);
            var time = @(Model.getSeconds())
            function myTimer() {
                time++;

                if (time >= 999) {
                    // Maximum Time Exceeded for Game - Inform Player (Game Over)
                    $.post("@Url.Action("MaxTimeElapsed", "Home")", function (data) {
                        clearInterval(gameTimer);
                        document.write(data);
                        document.close();
                    });
                }

                var x = time;
                var huns = Math.floor(x / 100);
                x = x - (huns * 100);
                var tens = Math.floor(x / 10);
                x = x - (tens * 10);
                var ones = x;

                $("#t100").attr("src", "/Images/num/" + huns + ".jpg");
                $("#t010").attr("src", "/Images/num/" + tens + ".jpg");
                $("#t001").attr("src", "/Images/num/" + ones + ".jpg");
            }
        });
    </script>
}