﻿@model Activity3.Models.CustomerModel

<h2>@Html.Label("Customer Details")</h2>
<br />

@Html.DisplayNameFor(m => Model.Name):@Html.DisplayFor(m => Model.Name)
<br />
@Html.DisplayNameFor(m => Model.Age):@Html.DisplayFor(m => Model.Age)
<br />
<p>Update at @DateTime.Now</p>
