﻿
@{
    ViewBag.Title = "About Minesweeper";
    ViewBag.Message = "Team Three Productions";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<style>
    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container1 {
        padding: 0 16px;
    }

        .container1::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }
</style>
<h2 style="padding-bottom: 20px; text-align: center; margin-right: 65px; color: white;">@ViewBag.Title</h2>
<h3 style="padding-bottom: 20px; text-align: center; margin-right: 65px; color: white;">@ViewBag.Message</h3>

<div class="row" style="color: white;">
    <div class="column">
        <div class="card">
            <img src="/Images/team/bm.jpg" alt="Branden" style="width:100%">
            <div class="container1">
                <h2>Branden Manibusan</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/Images/team/kl.jpg" alt="Kelly" style="width:100%">
            <div class="container1">
                <h2>Kelly Lamb</h2>
                <p class="title">Developer</p>
                <p>Attending GCU to earn B.S. Computer Programming.</p>
                <p>klambgcu@yahoo.com</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="/Images/team/mb.jpg" alt="Matthew" style="width:100%">
            <div class="container1">
                <h2>Matthew Baker</h2>
                <p class="title">Developer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
            </div>
        </div>
    </div>
</div>

