﻿
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

@if (Request.IsAuthenticated)
{
    <h2> </h2>
    <p> </p>

    <div class="jumbotron">
        <h1 class="display-4">Help Minesweeper</h1>
        <p class="lead">Instructions on how to play the game of Mine Sweeper.</p>
        <hr class="my-4">
        <p> 1. Start a new game using Menu File=>New Game or Left-Click on Smiley Face.</p>
        <p> 2. Choose different difficulty levels using Menu Difficulty and choose an option.</p>
        <p> 3. Right Clicking on a grid square toggles flag placement (indicate a mine).</p>
        <p> 4. Left Clicking on a grid square exposes underlying contents.</p>
        <p> 5. An exposed grid square containing a number indicates number of mines touch that square.</p>
        <p> 6. Solve game (completion) by exposing all grid squares and flagging all mines.</p>
        <p> 7. Save a game to play later by using Menu File=>Save Game.</p>
        <p> 8. Restore a game to resume playing by using Menu File=>Restore Game.</p>
        <p> 9. View Highscore (Hall of Fame) by using Menu File=>High Score.</p>
        <p>10. If you find yourself stuck during the game, choose Menu Difficulty=>Hint for assistance (penalty applies).</p>
    </div>
}
