﻿
@{
    ViewBag.Title = "HighScores";
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div style="color: white">
    <h2>HighScores</h2>

    <p>This screen contains a list of highscores for each level played in the Minesweeper game. :)</p>
</div>
