﻿@model IEnumerable<Minesweeper.Models.HighScore>
@{
    ViewBag.Title = "HighScores";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h1 style="color: white;">High Scores</h1>

<table class="table table-bordered table-responsive" style="color: white;">  
    <tr>
        <th>User ID</th>
        <th>Level</th>
        <th>Clicks</th>
        <th>Score</th>
        <th>Adjusted Score</th>
    </tr>
    @foreach (var entities in Model)
    {
<tr>
    <td>@entities.UserID</td>
    <td>@entities.LevelID</td>
    <td>@entities.Clicks</td>
    <td>@entities.Score</td>
    <td>@entities.AdjustedScore</td>
</tr>
    }
</table>