﻿
@{
    ViewBag.Title = "RestoreGame";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h2>RestoreGame</h2>

<p>This screen contains controls to select any saved Minesweeper game from a list of saved games for the player. :)</p>

