﻿@model Tuple<bool, string>
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<div style="color: white;">
    @if (Model.Item1)
    {
        <p>Success!</p>
        <p>@Model.Item2</p>
    }
    else
    {
        <p>Failed!</p>
    }
    @Html.ActionLink("Return", "Index", "Home")
</div>