﻿
@{
    ViewBag.Title = "SaveGame";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h2>SaveGame</h2>

<p>This screen contains controls to specify how to save the current Minesweeper game. Assuming the game is not over :)</p>
