﻿@model Activity2Part3.Models.UserModel

@{
    ViewBag.Title = "LoginFailed";
}

<h2>LoginFailed</h2>
<p>The login attempt failed</p>
<hr />
<div>
    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.DisplayFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<br />
<div>
    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.DisplayFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<br />

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
